.app {
    .title {
        font-size: 6em;
        color: rgb(80, 78, 78);
        font-weight: 700;
        margin: 50px 0px 30px 0px;
    }

    .add-user-link {
        color: rgb(145, 142, 142);
        font-size: 1.5em;
        font-weight: 700;

        &:hover {
            color: rgb(87, 85, 85);
            text-decoration: none;
        }
    }

    .user-name-amount {
        margin: 20px 0px;
    }

    a {
        text-decoration: none;
        color: rgb(85, 123, 206);

        &:hover {
            color: rgb(47, 72, 136);
            text-decoration: none;
        }
    }


}