.user-details-container {

    .back-link {
        font-size: 2em;
        margin: 10px;

        &:hover {
            color: #2e4474;
            text-decoration: none;
        }
    }

    .user-details-wrapper {
        display: flex;
        justify-content: center;
        padding-top: 15%;
    }

    .user-details {

        .name-display {
            display: flex;
            
            .name {
                color: rgb(80, 78, 78);
                font-size: 4em;
                font-weight: 700;
            }

            p {
                color: rgb(167, 80, 80);
                padding: 2px 0px 8px 20px;
                font-weight: 700;
                font-size: 1.5em;
                align-self: flex-end;
                cursor: pointer;
            }
        }

        h1 {
            font-size: 3em;
            font-weight: 700;  
        }

        p {
            font-size: 2em;
            margin: 10px 0px;
        }

        input {
            font-size: 1em;
            margin: 15px 0px;
            padding-left: 5px;
        }

        .amount-form {
            font-size: 2em;
            margin: 10px 0px;

            button {
                color: rgb(226, 224, 224);
                background-color:rgb(85, 123, 206);
                border: none;
                border-radius: 2px;
                margin-left: 10px;
                width: 30px;

                &:hover {
                    background-color: #2e4474;
                    border: none;
                }

            }
        }
    }

}

@media(max-width: 500px) {
    .user-details-wrapper {
        padding: 20px 8px;
    }

    input {
        width: 100px;
    }
}